.contents._contact {
    padding-bottom: 0;
}

.contact_sec {
    .inner {
        max-width: 1100px;
    }
}
.contact_field {
   
    & + & {
        margin-top: 40px;
        @include mobile {
            margin-top: 26px;
        }
    }
    &.ty_input {
        display: flex;
        
        align-items: center;
        // &:focus-within {
        //     box-shadow: 0 1px 0px rgba($c_key, 1);
        //     .field_tit , .f_input {
        //         border-color: $c_key;
                
        //     }
            
        // }
    }
    .field_tit {
        font-size: 22px;
        font-weight: bold;
        flex-shrink: 0;
        display: flex;
        align-items: center;
        gap: 6px;
        height: 50px;
        border-bottom: 1px solid $c_line;
        .ico_required {
            font-size: 1.4em;
            line-height: 0;
            transform: translateY(0.16em);
        }
        @include mobile {
            font-size: 16px;
            height: 40px;
        }
    }
   
    &.no_focus {
        border-bottom: none;
        &:focus-within {
            border-color: $c_line;
            box-shadow: none;
        }
    }
    

    .f_input {
        height: 50px;
        font-size: 20px;
        font-weight: 500;
        padding: 0 20px;
        border-bottom: 1px solid $c_line;
        &:focus {
            background-color: tint($c_key, 95%);
        }
        @include mobile { 
            font-size: 15px;
            padding: 0 10px;
            font-weight: 500;
            height: 40px;
        }
    }
    
    .f_radio_set {
        padding-top: 20px;
        display: block;
    }
    .f_radio {
        font-size: 18px;
        display: flex;
        
        & + .f_radio {
            margin-top: 12px;
        }
        @include mobile { 
            font-size: 15px;
            align-items: flex-start;
            &_ico {
                margin-top: 1px;
            }
        }
    }
    .f_ta {
        width: 100%;
        font-size: 20px;
        line-height: 1.5;
        padding: 20px;
        border: none;
        border-bottom: 1px solid $c_line;
        height: 300px;
        overflow-y: auto;
        font-weight: 500;
        &:focus {
            background-color: tint($c_key, 95%);
        }
        @include mobile { 
            font-size: 15px;
            padding: 10px;
            height: 160px;
        }
    }

    
}

.contact_agreement {
    padding-top: 15px;
    display: flex;
    justify-content: space-between;
    .f_chk {
        &_txt {
            font-size: 18px;

            @include mobile {
                font-size: 16px;
            }
        }
    }
    .num {
        font-size: 20px;
        font-weight: bold;
        @include mobile {
            font-size: 18px;
        }
    }
    @include mobile {
        display: block;
        .num {
            padding-top: 30px;
        }
    }
}

.contact_form {
    .btn_sumit {
        margin-top: 50px;
        @include mobile { 
            margin-top: 10px;
        }
    }
}

.contact_email_list {
    @at-root .contact_sec & {
        padding: 80px 0;
        @include tablet4 { 
            flex-direction: column;
            margin: 0;
            padding: 60px 0;
        }
        @include mobile {
            padding: 40px 0;
        }
    }
    
    display: flex;
    margin: 0 -40px;
    justify-content: center;
    @include tablet4 { 
        flex-direction: column;
        margin: 0;
    }
    .contact_email_item {
        display: flex;
        align-items: center;
        
        gap: 20px;
        border-right: 1px solid $c_line;
        &:last-of-type {
            border-right: none;
            border-bottom: none;
        }
        padding: 0 40px;

        @include tablet4 {
            padding: 20px 0;
            border-right: none;
            border-bottom: 1px solid $c_line;
        }
    }
    .ico_box {
        width: 90px;
        height: 90px;
        border-radius: 50%;
        background-color: $c_bg;
        background-image: url(../images/sub/ico_contact.svg);
        background-repeat: no-repeat;
        background-position: center center;
        @include mobile {
            width: 60px;
            height: 60px;
            background-size: 32px;
        }
    }
    .txt_box {
        .tit {
            display: block;
            font-size: 26px;
            font-weight: bold;
            line-height: 1;
        }
        .email {
            font-size: 18px;
            margin-top: 7px;
        }
        @include mobile { 
            .tit {
                font-size: 20px;
            }
            .num {
                font-size: 16px;
            }
        }
    }
}