.inner {
    width: 100%;
    max-width: 1500px;
    margin: 0 auto;
    padding: 0 50px;
    box-sizing: border-box;
    @include tablet {
        padding: 0 30px;
    }
    @include mobile {
        padding: 0 20px;
    }
}