body.scroll-locked {
    overflow: hidden;
}

#wrap {
    overflow: hidden;
}
.inner {
    width: 100%;
    max-width: 1500px;
    margin: 0 auto;
    padding: 0 50px;
    box-sizing: border-box;
    @include tablet {
        padding: 0 30px;
    }
    @include mobile {
        padding: 0 20px;
    }
}

.contents {
    padding-top: 110px;
    padding-bottom: 110px;

    &._partners {
        padding-top: 60px;
        padding-bottom: 0;
        @include mobile {
            padding-top: 10px;
        }
    }
    &._service {
        padding-bottom: 0;
        padding-top: 0;
    }
    &._reference {
        padding-bottom: 0;
        padding-top: 0;
    }
    @include tablet {
        padding-top: 90px;
        padding-bottom: 90px;
    }

    @include mobile {
        padding-top: 60px;
        padding-bottom: 60px;
    }
    .sub_sec {
        padding-bottom: 110px;
        &:last-of-type {
            padding-bottom: 0;
        }
        @include tablet {
            padding-bottom: 90px;
        }
        @include mobile {
            padding-bottom: 60px;
        }
    }
}

.list_star {
    li {
        padding-left: 1em;
        position: relative;
        & + li {
            margin-top: 0.3em;
        }
        &::before {
            content: '*';
            position: absolute; 
            left: 0;
            top: 0;
            line-height: 1.8em;
        }
    }
}

.sub_visual {
    height: 500px;
    padding-top: 110px;
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
    overflow: hidden;
    
    &::before {
        content: '';
        position: absolute;
        background-repeat: no-repeat;
        background-position: center center;
        background-size: cover;
        left: 0;
        top: 0;
        width: 100%;
        height: 100%;
        transition: transform 1.6s ease-out;
        transform: scale(1.16);
    }

    &.gogo {
        &::before {
            transform: scale(1);
        }
    }
    &._contact {
        &::before {background-image: url(../images/sub/sub_visual_contact.png);}
        
        
    }
    &._about {
        &::before {background-image: url(../images/sub/sub_visual_about.png);}
        
        
    }
    &._service {
        &::before {background-image: url(../images/sub/sub_visual_service.png);}
        
        
    }
    &._reference {
        &::before {background-image: url(../images/sub/sub_visual_reference.png);}
        
        
    }
    &._news {
        &::before {background-image: url(../images/sub/sub_visual_news.png);}

    }

    &._ss {
        height: 100dvh;
        &._building {
            &::before {background-image: url(../images/sub/ss_building_bg.png);}
            
        }
        &._stay {
            &::before {
                background-image: url(../images/sub/ss_stay_bg.png);
            }
            
        }
        &._account {
            &::before {
                background-image: url(../images/sub/ss_account_bg.png);
            }
            
        }
    }


    .tit {
        font-size: 40px;
        font-weight: bold;
        color: #fff;
        padding: 0 30px;
        line-height: 1.4;
        //transition-duration: 0.8s;
    }

    .ss_visual_cont {
        transition-duration: 0.8s;
        .logo {
            img {
                height: 66px;
            }
        }
        .txt {
            font-size: 50px;
            margin: 36px 0;
            font-weight: bold;
            line-height: 1.4;
            color: #fff;
            padding: 0 20px;
        }

        @include mobile {
            .logo {
                img {
                    height: 33px;
                }
            }
            .txt {
                font-size: 28px;
                margin:  28px 0;
            }
        }
    }

    @include tablet {
        padding-top: 90px;
       
    }
    @include mobile {
        padding-top: 60px;
        height: 320px;
        .tit {
            font-size: 28px;
            
        }
    }
}

.swiper {
    position: relative;
    pointer-events: auto;
    * {
        pointer-events: auto;
    }
}

.ss_account_sec2 {
    background-repeat: no-repeat;
    background-position: center center;
    background-size: cover;
    background-image: url(../images/sub/ss_account_bg2.png);
    
}