body.scroll-locked {
    overflow: hidden;
}

#wrap {
    overflow: hidden;
}
.inner {
    width: 100%;
    max-width: 1500px;
    margin: 0 auto;
    padding: 0 50px;
    box-sizing: border-box;
    @include tablet {
        padding: 0 30px;
    }
    @include mobile {
        padding: 0 20px;
    }
}

.contents {
    padding-top: 120px;
    padding-bottom: 120px;

    &._partners {
        padding-top: 60px;
        padding-bottom: 0;
        @include mobile {
            padding-top: 10px;
        }
    }

    @include mobile {
        padding-top: 80px;
        padding-bottom: 80px;
    }
}

.list_star {
    li {
        padding-left: 1em;
        position: relative;
        & + li {
            margin-top: 0.3em;
        }
        &::before {
            content: '*';
            position: absolute; 
            left: 0;
            top: 0;
            line-height: 1.8em;
        }
    }
}

.sub_visual {
    height: 500px;
    padding-top: 110px;
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
    background-repeat: no-repeat;
    background-position: center center;
    background-size: cover;
    &._contact {
        background-image: url(../images/sub/sub_visual_contact.png);
        
    }
    .tit {
        font-size: 40px;
        font-weight: bold;
        color: #fff;
        padding: 0 30px;
        line-height: 1.4;
    }

    @include tablet {
        padding-top: 90px;
       
    }
    @include mobile {
        padding-top: 60px;
        height: 320px;
        .tit {
            font-size: 28px;
            
        }
    }
}

.swiper {
    position: relative;
    pointer-events: auto;
    * {
        pointer-events: auto;
    }
}