.main_visual {
    height: 100dvh;
    background-image: url(../images/main_visual.png);
    background-repeat: no-repeat;
    background-position: center center;
    background-size: cover;
    position: relative;
    &_cont {
        height: 100%;
        position: relative;
        width: 1920px;
        margin: 0 auto;
    }
    &_txt {
        color: #fff;
        position: absolute;
        left: 50px;
        top: 50%;
        transform: translateY(-50%);
        .txt1 {
            font-size: 70px;
            font-weight: bold;
            line-height: 1;
        }
        .txt2 {
            font-size: 26px;
            font-weight: bold;
            line-height: 1;
            margin-top: 20px;
        }

        @include tablet {
            left: 30px;

        }
        @include mobile {
            left: 20px;
            top: 45%;
            .txt1 {
                font-size: 48px;
            }
            .txt2 {
                font-size: 18px;
            }
        }
    }
    &_scroll {
        position: absolute;
        bottom: 130px;
        left: 50px;
        color: #fff;
        .txt {
            display: block;
            transform: rotate(90deg);
            transform-origin: 7px;
            font-size: 14px;
            line-height: 1;
            letter-spacing: 0.15em;
            margin-top: 18px;
        }
        @include tablet {
            bottom: 110px;
            left: 30px;
        }
        @include mobile {
            bottom: 100px;
            left: 20px;
            .txt {
                font-size: 12px;
                margin-top: 12px;
                transform-origin: 6px;
            }
        }
    }
}
.main_sec {
    
    padding-bottom: 120px;
    &_tit {
        text-align: center;
        margin-bottom: 80px;
        
        .tit {
            font-size: 45px;
            font-weight: bold;
            line-height: 1.2;
           
           
        }
        .tit_sub {
            font-size: 20px;
            color: #999;
            letter-spacing: 0.2em;
            margin-bottom: 10px;
            
        }
    }
    @include tablet {
        &_tit {
            .tit {
                font-size: 38px;
            }
            .tit_sub {
                font-size: 17px;
            }
        }
    }
    @include mobile {
        padding-bottom: 80px;
        &_tit {
            margin-bottom: 40px;
            .tit {
                font-size: 30px;
            }
            .tit_sub {
                font-size: 15px;
            }
        }
    }
}

.main_about {
    &_item {
        display: flex;
        gap: clamp(16px, 7.142857%, 100px);
        align-items: center;
        @include mobile {
            display: block;
        }
        & + & {
            margin-top: 100px;
            @include mobile {
                margin-top: 50px;
            }
        }

        &._reverse {
            .img_box {
                order: 1;
            }
            .txt_box {
                order: 0;
            }
        }
        .img_box , .txt_box {
            flex: 1;
        }
        .txt_box {
            @include mobile {
                margin-top: 24px;
            }
            .tit {
                font-size: 45px;
                font-weight: bold;
                line-height: 1.2;
                @include tablet {
                    font-size: 38px;
                }
                @include mobile {
                    font-size: 24px;
                    line-height: 1.4;
                }
            }
            .desc {
                font-size: 18px;
                margin-top: 30px;
                line-height: 1.6;
                @include tablet {
                    font-size: 16px;
                }
                @include mobile {
                    font-size: 14px;
                    margin-top: 16px;
                }
            }
            .btn_arrow {
                margin-top: 45px;
                @include mobile {  
                    margin-top: 20px;
                }
            }
        }
    }
}

.main_solution {
    &_cont {
        height: 300px;
        background-image: url(../images/main_banner.png);
        background-repeat: no-repeat;
        background-position: center center;
        background-size: cover;
        border-radius: 30px;

        display: flex;
        align-items: center;
        color: #fff;
        padding: 50px 78px;
        gap: 20px;
        @include tablet {
            padding: 50px 50px;
        }
        @include mobile {
            flex-direction: column;
            gap: 40px;
            align-items: flex-start;
            height: auto;
            padding: 40px 30px;
            position: relative;
            overflow: hidden;
            
            &::after {
                content: '';
                width: 100%;
                height: 100%;
                background-color: rgba(#000, .4);
                left: 0;
                top: 0;
                position: absolute;
                z-index: 0;
            }
        }

        .txt_box {
            position: relative;
            z-index: 1;
            .txt1 {
                font-size: 40px;
                font-weight: bold;
            }
            .txt2 {
                font-size: 30px;
                font-weight: bold;
            }
            .txt3 {
                font-size: 18px;
                color: #A6C5FF;
                font-weight: 500;
                margin-top: 28px;
            }
            @include mobile {
                .txt1 { 
                    font-size: 32px;
                }
                .txt2 { 
                    font-size: 24px;
                }
            }
        }
        .btn {
            position: relative;
            z-index: 1;
            margin-left: auto;
            flex-shrink: 0;
        }
    }
}


.main_service {
    .service_slide {
        overflow: hidden;
        &_wrap {
            position: relative;
            --imgH: 0px;
        }
        // @include mobile {
        //     padding-right: 15%;
        // }
    }
    .slide_item {
        .txt_box {
            margin-top: 20px;
            text-align: center;
            .tit {
                font-size: 20px;
                font-weight: bold;
            }
            .desc {
                font-size: 16px;
                color: #aaa;
                margin-top: 10px;
            }
            @include mobile {
                margin-top: 16px;
                .tit {
                    font-size: 18px;
                }
                .desc {
                    font-size: 15px;
                    margin-top: 8px;
                }
            }
        }
    }
    .service_slide_btn {
        width: 60px;
        height: 60px;
        display: flex;
        align-items: center;
        justify-content: center;
        border-radius: 50%;
        background-color: $c_key;
       
        position: absolute;
        top: calc(var(--imgH) / 2);
        transform: translateY(-50%);
        z-index: 10;
        i {
            width: 20px;
            height: 20px;
            background-repeat: no-repeat;
            background-position: center center;
            background-image: url(../images/arrow.svg);
        }
        &.swiper-button-disabled {
            visibility: hidden;
        }
        &.service_slide_prev {
            i {
                transform: rotate(-180deg);
            }
            left: -30px;
        }
        &.service_slide_next {
            right: -30px;
        }

        @include mobile {
            width: 40px;
            height: 40px;
            opacity: 0.9;
            i {
                width: 18px;
                height: 18px;
                background-size: contain;
            }
            &.service_slide_prev {
                left: -16px;
            }
            &.service_slide_next {
                right: -16px;
            }
        }
    }

    .btn_area {
        margin-top: 80px;
        @include mobile {
            margin-top: 40px;
        }
    }
}

.main_lineup {
    &_sec {
        & + & {
            margin-top: 80px;
            @include mobile {
                margin-top: 40px;
            }
        }
        .tit {
            position: relative;
            text-align: center;
            display: flex;
            justify-content: center;
            margin-bottom: 80px;
            
            h3 {
                width: 210px;
                height: 60px;
                display: flex;
                align-items: center;
                justify-content: center;
                border: 1px solid #000;
                border-radius: 30px;
                font-size: 24px;
                font-weight: bold;
                background-color: #fff;
                position: relative;
                z-index: 1;
            }
            &::after {
                content: '';
                position: absolute;
                width: 100%;
                height: 1px;
                background-color: #000;
                top: 50%;
                left: 0;
                z-index: 0;
            }
            @include mobile {
                margin-bottom: 40px;
                h3 {
                    font-size: 20px;
                    height: 46px;
                    border-radius: 23px;
                    width: 160px;
                }
            }
        }
    }
    &_list {
        display: flex;
        gap: 34px;
        flex-wrap: wrap;
        li {
            flex: 0 0 calc((100% - 34px * 3) / 4);
            .img_box {
                img {
                    width: 100%;
                }
            }
            .txt {
                text-align: center;
                font-size: 22px;
                margin-top: 20px;
                font-weight: bold;
            }
        }

        @include tablet {
            gap: 20px;
            li {
                flex: 0 0 calc((100% - 20px * 3) / 4);
                .txt {
                    font-size: 18px;
                }
            }
        }
        @include mobile {
            li {
                flex: 0 0 calc((100% - 20px) / 2);
                .txt {
                    font-size: 16px;
                    margin-top: 12px;
                }
            }
            
        }
    }
}

.main_knowhow {
    background-image: url(../images/knowhow_bg.png);
    background-repeat: no-repeat;
    background-position: center center;
    background-size: cover;
    padding: 110px 0 ;
    @include mobile {
        padding: 60px 0;
    }
    &_cont {
        display: flex;
        align-items: flex-end;
        justify-content: space-between;
        gap: 40px;


        @include tablet3 {
            display: block;
        }
        

    }
    .txt_box {
        .desc {
            font-size: 18px;
            margin-top: 40px;
            
        }
        .btn_arrow {
            margin-top: 40px;
            background-color: transparent;
            width: 200px;
        }
        @include tablet3 {
            .desc { 
                br {
                    display: none;
                }
                margin-top: 20px;
            }
            .btn_arrow {
                margin-top: 20px;
            }
        }
    }
    .ico_list {
        
        display: flex;
        text-align: center;
        width: 800px;
        
        li {
            flex: 1;
            
            .ico_box {
                height: 90px;
                display: flex;
                align-items: center;
                justify-content: center;
            }
            .num {
                font-size: 80px;
                font-weight: bold;
                display: block;
                line-height: 1;
                margin-top: 10px;
            }
            .desc {
                font-size: 18px;
                color: #6a6a6a;
                margin-top: 10px;
            }
        }

        @include tablet3 {
            width: 100%;
            margin-top: 60px;
        }
        
        @include mobile {
            flex-wrap: wrap;
            gap: 40px 20px;
            li {
                flex: 0 0 calc((100% - 20px) / 2);
                .ico_box { 
                    height: 70px;
                    img {
                        height: 100%;
                    }
                }
                .num { 
                    font-size: 50px;
                }
                .desc { 
                    font-size: 16px;
                    
                }
            }
            
        }
    }
}

.main_client {
    padding-top: 120px;
    @include mobile {
        padding-top: 80px;
    }
   
}
.client_slide {
    overflow: hidden;
    &_wrap {
        padding: 0 82px;
        position: relative;
        &.is-static {
            
            .client_slide_btn {
                display: none;
            }
            .swiper-wrapper {
                display: flex;
                gap: 20px;
                justify-content: center;
            }
            .swiper-slide {
                flex: 0 0 calc((100% - 20px * 4) / 5);
            }
        }

        @include tablet {
            padding: 0 50px;
            &.is-static { 
                .swiper-wrapper {  
                    gap: 16px; 
                }
                .swiper-slide {
                    flex: 0 0 calc((100% - 16px * 3) / 4);
                }
            }
        }
        @include mobile { 
            padding: 0 40px;
            &.is-static { 
                .swiper-wrapper {  
                    gap: 12px; 
                }
                .swiper-slide {
                    flex: 0 0 calc((100% - 12px) / 2);
                }
            }
        }
    }
    &_btn {
        width: 41px;
        height: 41px;
        position: absolute;
        top: 50%;
        transform: translateY(-50%);
        background-repeat: no-repeat;
        background-position: center center;
        background-size: contain;
        &.client_slide_prev {
            background-image: url(../images/slide_prev.svg);
            left: 0;
        }
        &.client_slide_next {
            background-image: url(../images/slide_next.svg);
            right: 0;
        }
        @include tablet { 
            width: 30px;
            height: 30px;
        }
        @include mobile { 
            width: 30px;
            height: 30px;
            background-size: auto 20px;
        }
    }
    
}

.main_review {
    background-color: #F2FAFF;
    padding-top: 120px;
    position: relative;
    @include mobile {
        padding-top: 80px;
    }
    &_cont {
        display: flex;
        gap: 70px;
        justify-content: center;
        @include tablet {
            display: block;
        }
    }
    &_item {
        width: 300px;
        padding: 75px 30px;
        background-color: #fff;
        border-radius: 9999px ;
        text-align: center;
        display: flex;
        flex-direction: column;
        justify-content: center;
        position: relative;
        z-index: 10;
        .txt {
            font-size: 18px;
            font-weight: bold;
            line-height: 1.6;
        }
        .reviewer {
            font-size: 16px;
            font-weight: bold;
            color: #aaa;
            padding-top: 20px;
            margin-top: 20px;
            border-top: 1px solid $c_line;
        }
        &::before {
            content:'';
            position: absolute;
            width: 45px;
            height: 28px;
            background-image: url(../images/dq_open.png);
            background-repeat: no-repeat;
            background-position: center center;
            left: 50%;
            transform: translateX(-50%);
            top: -14px;
            background-size: contain;
        }
        &::after {
            content:'';
            position: absolute;
            width: 45px;
            height: 28px;
            background-image: url(../images/dq_close.png);
            background-repeat: no-repeat;
            background-position: center center;
            left: 50%;
            transform: translateX(-50%);
            bottom: -14px;
            background-size: contain;
        }

        @include tablet {
            & + & {
                margin-top: 60px;
            }
            width: 100%;
            border-radius: 20px;
            padding: 50px 30px;
            &::before {
                transform: none;
                left: 30px;
            }
            &::after {
                transform: none;
                left: auto;
                right: 30px;
            }
        }
        @include mobile {
            & + & {
                margin-top: 40px;
            }
            padding: 30px 20px;

            .txt {
                font-size: 16px;
            }
            .reviewer {
                font-size: 14px;
            }
            &::before {
                width: 30px;
                height: 20px;
                top: -10px;
                left: 20px;
            }
            &::after {
                width: 30px;
                height: 20px;
                bottom: -10px;
                right: 20px;
            }
        }
    }
    &_bg {
        &_box {
            position: absolute;
            bottom: -6px;
            width: 100%;
            display: flex;
            justify-content: center;
        }
        margin: 0 auto;

        max-width: 100%;

    }
}

.main_estimate {
    background-image: url(../images/main_estimate_bg.png);
    background-repeat: no-repeat;
    background-position: center center;
    padding: 75px 0 85px;

    &_cont {
        display: flex;
        align-items: center;
        justify-content: space-between;
        @include mobile {
            flex-direction: column;
            gap: 40px;
            align-items: flex-start;
           
        }
        .txt_box {
            position: relative;
            z-index: 1;
            color: #fff;
            .txt1 {
                font-size: 40px;
                font-weight: bold;
            }
            .txt2 {
                font-size: 30px;
                font-weight: bold;
            }
            .txt3 {
                font-size: 18px;
                //color: #A6C5FF;
                font-weight: 500;
                margin-top: 28px;
            }
            @include mobile {
                .txt1 { 
                    font-size: 32px;
                }
                .txt2 { 
                    font-size: 24px;
                }
            }
        }
        .btn {
            position: relative;
            z-index: 1;
            margin-left: auto;
            flex-shrink: 0;
            width: 260px;
        }
    }
}

.main_news {
    padding-top: 120px;
    padding-bottom: 0;
    
    &_list {
        display: flex;
        flex-wrap: wrap;
        gap: 34px;
    }
    &_item {
        flex: 0 0 calc((100% - 34px * 3) / 4);
        .img_box {
            img {
                width: 100%;
            }
        }
        
    }
    @include tablet {
        &_list {
            gap: 20px;
        }
        &_item {
            flex: 0 0 calc((100% - 20px * 3) / 4);
        }
    }
    @include mobile {
        padding-top: 80px;
        &_list {
            gap: 12px;
        }
        &_item {
            flex: 0 0 calc((100% - 12px) / 2);
        }
    }
}