

/*반응형 화면 크기*/
$breakpoint-ms: 568px;
$breakpoint-m: 767px;
$breakpoint-t: 1024px;
$breakpoint-t2: 1400px;
$breakpoint-t3: 1200px;
$breakpoint-t4: 1100px;

@mixin hover_true {
    @media (hover: hover) and (pointer: fine) {
        @content;
    }
}

@mixin only_pc {
    @media (min-width: #{$breakpoint-t}) {
        @content;
    }
}


@mixin tablet {
    @media (max-width: #{$breakpoint-t}) {
        @content;
    }
}

@mixin tablet2 {
    @media (max-width: #{$breakpoint-t2}) {
        @content;
    }
}

@mixin tablet3 {
    @media (max-width: #{$breakpoint-t3}) {
        @content;
    }
}
@mixin tablet4 {
    @media (max-width: #{$breakpoint-t4}) {
        @content;
    }
}

@mixin mobile {
    @media (max-width: #{$breakpoint-m}) {
        @content;
    }
}

@mixin mobile_s {
    @media (max-width: #{$breakpoint-ms}) {
        @content;
    }
}

@mixin text-hidden-single {
    text-overflow: ellipsis;
    overflow: hidden;
    white-space: nowrap;
    max-width: 100%;
}

.t_hidden_1 {
    @include text-hidden-single
}
@mixin text-hidden($line: 1, $lineHeight: 19, $auto: null) {
    width: 100%;
    display: -webkit-box !important;
    -webkit-line-clamp: $line;
    -webkit-box-orient: vertical;
    overflow: hidden;
    text-overflow: ellipsis;
    line-height: calc(($lineHeight * $line) / $line);
    max-width: 100%;

    @if $auto ==auto {
        //영역 자동
        max-height: $lineHeight * $line;
    }

    @else {
        //처음부터 영역잡히게
        height: $lineHeight * $line;
    }
}


@for $i from 2 through 10 {
    .t_hidden_#{$i} {
        $lh : 1.6em;
        @include text-hidden($i, $lh)
    }
} 

@for $i from 2 through 10 {
    .t_hidden_a_#{$i} {
        $lh : 1.6em;
        @include text-hidden($i, $lh, auto)
    }
} 


@mixin scrollY {
    &::-webkit-scrollbar {
        width: 7px;
    }
    &::-webkit-scrollbar-thumb {
        background-color: $c_key;
        border-radius: 5px;
        background-clip: padding-box;
        width: 100%;
        box-sizing: border-box;
       
       
    }
    &::-webkit-scrollbar-track {
        background-color: $c_bg;
        border: 2px solid transparent;
    }
}

@mixin m-sizing {
    width: 100%;
    max-width: $m-width;
    min-width: 320px;
    left: 50%;
    transform: translateX(-50%);
}

@mixin dropShadow {
    box-shadow: 2px 8px 20px rgba(#000,.08);
}


@mixin hidden {
    border: 0; 
    clip: rect(0 0 0 0); 
    clip-path: inset(50%); 
    width: 1px; 
    height: 1px; 
    margin: -1px; 
    overflow: hidden;
    padding: 0; 
    position: absolute; 
    white-space: nowrap; 
}


@mixin btn-hover {
    @media (hover: hover) and (pointer: fine) {
        &:hover {
            box-shadow: 0 4px 8px rgba(#000,.16);
            transform: translateY(-1px);
        }
    }
    &:active {
        box-shadow: none;
        transform: translateY(0);
    }
    
    &:focus-visible {
        outline: none;
        box-shadow: 0 0 0 2px rgba(#000,.4);
    }
}

@function tint($color, $percent) {
    @return mix(white, $color, $percent);
}

@function shade($color, $percent) {
    @return mix(black, $color, $percent);
}

@function saturate-by($color, $percent) {
    @return color.scale($color, $saturation: $percent);
}

@function desaturate-by($color, $percent) {
    @return color.scale($color, $saturation: -$percent);
}

@function emphasis($color, $lightness: 0%, $saturation: 0%) {
    @return color.scale(
      $color,
      $lightness: $lightness,
      $saturation: $saturation
    );
}