.paging {
    &_wrap {
        display: flex;
        align-items: center;
        justify-content: center;
        text-align: center;
        margin-top: 80px;
    }
    &_inner {
        display: flex;
        align-items: center;
        justify-content: center;
        text-align: center;
    }
    &_list {
        margin: 0 20px;
        display: flex;
        gap: 5px;
    }
    &_btn {
        width: 40px;
        height: 40px;
        border-radius: 4px;
        color: $c_key;
        
        display: flex;
        align-items: center;
        justify-content: center;
        text-align: center;
        font-size: 18px;
        &._current {
            background-color: $c_key;
            color: #fff;
            font-weight: bold;
        }
    }
    &_nav {
        font-size: 18px;
        font-weight: bold;
        color: $c_key;
        display: flex;
        align-items: center;
        user-select: none;
        .ico_box {
            width: 40px;
            height: 40px;
            background-repeat: no-repeat;
            background-position: center center;
            background-size: 15px;
        }
        &._prev {
            .ico_box {
                background-image: url(../images/sub/paging_arrow_next.png);
                transform: rotate(180deg);
            }
        }
        &._next {
            .ico_box {
                background-image: url(../images/sub/paging_arrow_next.png);
            }
        }
        &._disabled {
            color: $c_grey;
            cursor: default;
            pointer-events: none;
            &._prev {
                .ico_box {
                    background-image: url(../images/sub/paging_arrow_prev.png);
                    transform: rotate(0);
                }
            }
            &._next {
                .ico_box {
                    background-image: url(../images/sub/paging_arrow_prev.png);
                    transform: rotate(180deg);
                }
            }
        }
    }
    &_all {
        font-weight: bold;
        color: $c_key;
        font-size: 18px;
        margin-left: 30px;
    }

    @include tablet {
        &_wrap { 
            margin-top: 60px;
        }
       
    }
    @include mobile {
        &_wrap { 
            margin-top: 40px;
            //display: block;
        }
        &_list {
            margin: 0 6px;
            gap: 3px;
        }
        &_btn { 
            width: 28px;
            height: 28px;
            font-size: 13px;
        }
        &_nav {
            .ico_box {
                width: 28px;
                height: 28px;
            }
            .txt {
                display: none;
            }
        }
        &_all {
            font-size: 12px;
            margin-left: auto;
        }
    }
}