.popup {
    display: none;
    &.on {
        display: block;
    }
    position: fixed;
    width: 100%;
    height: 100%;
    background-color: rgba(#000, .6);
    z-index: 9999;
    left: 0;
    top: 0;
    &_wrap {
        padding: 30px 30px;
        width: 100%;
        height: 100%;
        display: flex;
        align-items: center;
        justify-content: center;
    }
    &_inner {
        
        width: 800px;
        max-width: 100%;
        max-height: 100%;
        padding-top: 60px;
        display: flex;
        flex-direction: column;
        position: relative;
    }
    &_close {
        width: 50px;
        height: 50px;
        background-image: url(../images/sub/popup_close.png);
        background-repeat: no-repeat;
        background-position: center center;
        background-size: cover;
        position: absolute;
        right: 0;
        top: 0;
    }
    &_container {
        background-color: #fff;
        padding: 50px;
        border-radius: 20px;
        max-height: 100%;
        overflow-y: auto;
    }
    &_tit {
        margin-bottom: 40px;
    }
    &_tabs {
        margin-bottom: 20px;
        .tab_btn {
            min-width: 180px
        }
    }
    &_desc {
        margin-bottom: 40px;
    }
    &_form {
        font-size: 16px;
        &_field {
            & + & {
                margin-top: 27px;
            }
        }
        .field_tit {
            font-size: 18px;
            display: block;
            margin-bottom: 10px;
            font-weight: bold;
            @include mobile {
                font-size: 16px;
                margin-bottom: 8px;
            }
        }
    }

    &_agreement {
        margin-top: 40px;
        .tit {
            font-size: 18px;
            font-weight: bold;
        }
        .list_star {
            font-size: 16px;
            margin-top: 20px;
            margin-bottom: 20px;
        }
    }
    &_btns {
        text-align: center;
        margin-top: 40px;
    }

    @include mobile {
        &_wrap {
            padding: 20px;
        }
        &_inner { 
            padding-top: 32px;
        }
        &_close {
            width: 24px;
            height: 24px;
        }
        &_container {
            padding: 20px 20px 30px;
        }
        &_tit {
            margin-bottom: 20px;
        }
        &_desc {
            margin-bottom: 20px;
        }
        &_tabs {
            .tab_btn {
                flex: 1;
                min-width: 0;
            }
        }
        &_agreement {
            margin-top: 30px;
            .tit {
                font-size: 16px;
            }
            .list_star {
                font-size: 14px;
            }
        }
        &_btns { 
            margin-top: 30px;
        }
        &_form {
            font-size: 14px;
            &_field {
                & + & {
                    margin-top: 20px;
                }
            }
        }
    }
}