.service_details {
    display: flex;
    flex-wrap: wrap;
    gap: 100px;
    .detail_item {
        flex: 1;
        text-align: center;
        .txt_box {
            margin-top: 24px;
        }
        .desc {
            margin-top: 10px;
        }
    }

    @include tablet {
        gap: 40px;
    }
    @include mobile {
        .detail_item {
            flex: 100%;
            .txt_box {
                margin-top: 16px;
            }
            .desc {
                margin-top: 8px;
            }
        }
    }
}
.service_sec {
    
    padding: $sap-pc 0;
    
    .btn_area {
        margin-top: 60px;
    }
    .sevice_tag {
        padding: 0 20px;
        height: 36px;
        border-radius: 18px;
        color: #fff;
        font-size: 18px;
        font-weight: bold;
        margin-bottom: 36px;
        display: inline-flex;
        vertical-align: top;
        align-items: center;
    }
    @include tablet {
        padding: $sap-t 0;
       
    }
    @include mobile {
        padding: $sap-m 0;
        .sevice_tag {
            font-size: 16px;
            height: 30px;
            border-radius: 15px;
            margin-bottom: 20px;
        }
        .btn_area {
            margin-top: 40px;
        }
    } 
}

.service_building { 
    background-color: #EBF6FF;
    .sevice_tag {
        background-color: $c_key;
    }
}
.service_stay {
    background-color: #F5EEED;
    .sevice_tag {
        background-color: #60564E;
    }
}
.service_account {
    background-color: #F5E2E2;
    .sevice_tag {
        background-color: #B00010;
    }
}


.ss_sec {
    padding: $sap-pc 0;
    @include tablet {
        padding: $sap-t 0;
       
    }
    @include mobile {
        padding: $sap-m 0;
    } 

    &._solution {
        padding-top: 0;
    }

    &._ss_bldg_price {
        background-color: $c_key;
    }


    .sub_sec_tit {
        position: relative;
        .tit_eng {
            font-size: 20px;
            letter-spacing: 0.4em;
            font-weight: 500;
            margin-bottom: 10px;
            display: inline-block;
            &.ty_bldg {
                color: $c_key;
            }
            &.ty_stay {
                color: $c_stay;
            }
            &.ty_account {
                color: $c_account;
            }
            @include mobile {
                font-size: 16px;
                margin-bottom: 6px;
            }
        }
        .tit_img {
            position: absolute;
            top: 100%;
            left: 50%;
            transform: translateX(-50%) translateY(clamp(0px, 4vw, 40px));

            img {
                max-width: 100vw;
            }
        }
    }

}

.ss_bldg_service {
    display: flex;
    flex-wrap: wrap;
    gap: 40px;
    position: relative;
    z-index: 10;
    margin-top: 120px;
    @include tablet {
        margin-top: 10vw;
        gap: 30px;
    }
    @include mobile {
        gap: 10px;
    }
    
    .service_item {
        flex: 0 0 calc((100% - 2 * 40px) / 3);
        border-radius: clamp(20px, 4vw, 40px);
        overflow: hidden;
        display: flex;
        align-items: flex-end;
        height: 300px;
        padding: 50px 39px;
        color: #fff;
        background-repeat: no-repeat;
        background-position: center center;
        background-size: cover;

        @for $i from 1 through 5 {
            &#{$i} {
                background-image: url(../images/sub/ss_bldg_service#{$i}.png);
            }
        }
        &6 {
            background-color: #052451;
        }

        &.ty_center {
            text-align: center;
            align-items: center;
            justify-content: center;
        }
        &::after {
            content: '';
            width: 100%;
            height: 100%;
            position: absolute;
            background-color: rgba(#052451, .7);
            left: 0;
            top: 0;
            opacity: 0;
        }

        &:hover {
            &::after {
                opacity: 1;
            }
            align-items: center;
            justify-content: center;
            text-align: center;
        }

       
        .txt_box {
            width: 100%;
            position: relative;
            z-index: 10;
            .desc_s {
                margin-top: 10px;
                line-height: 1.4;
            }
            .btn_arrow {
                margin-top: 20px;
                max-width: 100%;
                width: 180px;
                min-width: 0;
                
            }
        }

        @include tablet {
            flex: 0 0 calc((100% - 30px) / 2);
        }
        @include mobile {
            flex: 0 0 100%;
            padding: 30px 20px;
            height: 180px;
            .btn_arrow { 
                padding: 0 15px;
                gap: 0;
            }
        }
    }
}


.ss_solution {
    display: flex;
    &:nth-of-type(even) {
        flex-direction: row-reverse;
    }
    & + & {
        margin-top: 80px;
    }
    gap: 100px;
    align-items: center;

    .img_box {
        flex: 1;
    }
    .txt_box {
        flex: 1;
        .tit2 {
            line-height: 1.3;
        }
        .desc {
            padding: 17px 0 22px;
        }
        .msg {
            font-size: 40px;
            line-height: 1.3;
            font-weight: bold;
        }
    }

    @include tablet {
        gap: 40px;
        .txt_box {
            .msg {
                font-size: 32px;
            }
        }
    }

    @include mobile {
        display: block;
        & + & {
            margin-top: 50px;
        }
        .txt_box {
            margin-top: 20px;
            flex: 100%;
            .desc { 
                padding: 12px 0 16px;
            }
            .msg {
                font-size: 24px;
            }
        }
    }

}

.ss_bldg_price_wrap {
    display: flex;
    gap: 40px;
    
    @include tablet2 {
        flex-wrap: wrap;
        justify-content: center;
    }
    @include mobile {
        gap: 20px;
    }
}
.ss_bldg_price_item {
    flex: 0 0 calc((100% - 40px * 2) / 3);
    background-color: #fff;
    border-radius: 26px;
    overflow: hidden;

    
    
    .tit {
        height: 110px;
        text-align: center;
        background-color: $c_bg;
        font-size: 35px;
        font-weight: bold;
        display: flex;
        align-items: center;
        justify-content: center;
        text-align: center;
        line-height: 1.1;
        padding: 0 10px;
    }
    &:nth-child(even) {
        .tit {
            background-color: $c_key3;
            color: #fff;
        }
        .chk_list {
            border-top: 1px solid $c_key;
        }
    }
    .cont_box {
        padding: 28px 40px;
    }

    .desc_box {
        .sub {
            font-size: 14px;
            @include mobile {
                font-size: 12px;
            }
        }
    }
    .detail_box {
        padding: 15px 20px;
        background-color: $c_bg;
        border-radius: 16px;
        font-weight: bold;
        margin: 20px 0;
        .detail_item {
            display: flex;
            justify-content: space-between;
            & + .detail_item {
                margin-top: 10px;
            }
        }
    }
    .chk_list {
        border-top: 1px solid $c_line;
        padding-top: 20px;
        margin-top: 20px;
        // &.no_bd {
        //     border-top: none;
        //     //padding-top: 0;
        //     //margin: 0;
        // }
        li {
            position: relative;
            padding-left: 1.4em;
            line-height: 1.2em;
            font-size: 18px;
            & + li {
                margin-top: 20px;
            }
            &::before {
                content:'';
                position: absolute;
                left: 0;
                top: 0;
                width: 1.2em;
                height: 1.2em;
                background-image: url(../images/sub/ico_chk.png);
                background-size: 0.9em;
                background-position: center center;
                background-repeat: no-repeat;
            }
            &.ty_black_chk {
                &::before {
                    background-image: url(../images/sub/ico_chk_black.png);
                }
            }
            .sub {
                font-size: 14px;
                line-height: 1.2;
                color: $c_grey;
                margin-top: 0.2em;
            }
        }
    }
    @include tablet2 {
        min-width: 500px;
    }
    @include mobile {
        min-width: 0;
        width: 100%;
        flex: 100%;
        .tit {
            height: 60px;
            font-size: 24px;

        }
        .cont_box {
            padding: 20px;
        }
        .chk_list {
            margin-top: 15px;
            padding-top: 15px;
            li {
                font-size: 14px;
                .sub {
                    font-size: 12px;
                }
            }
        }
    }
}

.ss_sec._faq {
    background-image: url(../images/sub/ss_bg_faq.png);
    background-repeat: no-repeat;
    background-position: center center;
    background-size: cover;
}

.faq_slide {
    &_wrap {
        padding: 0 90px;
        position: relative;
        
    }
    .slide_item {
        padding: 30px;
        border-radius: 20px;
        background-color: #fff;
        text-align: left;
        height: auto;
        .tit {
            font-size: 24px;
            font-weight: bold;
            margin-bottom: 20px;
            line-height: 1.3;
        }
        @include mobile {

            .tit {
                font-size: 18px;
                margin-bottom: 16px;
            }
            padding: 20px;
        }
    }
    &_btn {
        width: 70px;
        height: 70px;
        border-radius: 50%;
        background-color: #000;
        position: absolute;
        top: 50%;
        transform: translateY(-50%);
        background-repeat: no-repeat;
        background-position: center center;
        background-size: 12px;
        z-index: 10;
        &.faq_slide_prev {
            background-image: url(../images/sub/slide_prev_w.png);
            left: -10px;
        }
        &.faq_slide_next {
            background-image: url(../images/sub/slide_next_w.png);
            right: -10px;
        }
    }
    @include tablet {
        &_wrap {
            padding: 0 44px;
        }
    }

    @include mobile {
        &_wrap {
            padding: 0 20px;
        }
        &_btn {
            width: 40px;
            height: 40px;
            background-size: 9px;
        }
    }
}


.ss_stay_service {
    display: flex;
    flex-wrap: wrap;
    gap: 25px;
    position: relative;
    z-index: 10;
    margin-top: 120px;
    @include tablet3 {
        margin-top: 10vw;
        gap: 20px;
    }
    @include mobile {
        gap: 10px;
    }
    
    .service_item {
        flex: 0 0 calc((100% - 3 * 25px) / 4);
        border-radius: clamp(20px, 4vw, 40px);
        overflow: hidden;
        display: flex;
        align-items: flex-end;
        height: 300px;
        padding: 30px;
        color: #fff;
        background-repeat: no-repeat;
        background-position: center center;
        background-size: cover;

        @for $i from 1 through 3 {
            &#{$i} {
                background-image: url(../images/sub/ss_stay_service#{$i}.png);
            }
        }
        &4 {
            background-color: #635954;
        }

        &.ty_center {
            text-align: center;
            align-items: center;
            justify-content: center;
        }
        &::after {
            content: '';
            width: 100%;
            height: 100%;
            position: absolute;
            background-color: rgba(#635954, .7);
            left: 0;
            top: 0;
            opacity: 0;
        }

        &:hover {
            &::after {
                opacity: 1;
            }
            align-items: center;
            justify-content: center;
            text-align: center;
            
        }
        .txt_box {
            position: relative;
            z-index: 10;
            width: 100%;
            .desc_s {
                margin-top: 10px;
                line-height: 1.4;
            }
            .btn_arrow {
                margin-top: 20px;
                max-width: 100%;
                width: 180px;
                min-width: 0;
                
            }
        }

        @include tablet3 {
            flex: 0 0 calc((100% - 20px) / 2);
        }
        @include mobile {
            flex: 0 0 100%;
            padding: 30px 20px;
            height: 180px;
            .btn_arrow { 
                padding: 0 15px;
                gap: 0;
            }
        }
    }
}

.ss_account_cont1 {
    display: flex;
    flex-direction: row-reverse;
    align-items: center;
    gap: 100px;
    
    .img_box {
        flex: 1;
    }
    .txt_box {
        flex: 1;
        .tit {
            font-size: 40px;
            line-height: 1.3;
            font-weight: bold;
            margin-bottom: 20px;
        }
        .tit_eng {
            font-size: 20px;
            letter-spacing: 0.4em;
            font-weight: 500;
            line-height: 1;
            margin-bottom: 16px;
        }
        .desc_s {
            font-size: 14px;
            margin-top: 15px;
        }
    }
    @include tablet {
        gap: 50px;
        .txt_box {
            .tit {
                font-size: 32px;
            }
            .tit_eng {
                font-size: 18px;
            }
        }
    }
    @include mobile {
        display: block;
        .txt_box {
            margin-top: 30px;
            .tit {
                font-size: 24px;
                margin-bottom: 18px;
            }
            .tit_eng {
                font-size: 16px;
                margin-bottom: 10px;
            }
            .desc_s {
                font-size: 12px;
                margin-bottom: 10px;
            }
        }
    }
}

.ss_account_cont2 {
    display: flex;
    justify-content: space-between;
    gap: 60px;
   
    .part {
        flex: 1;
        max-width: 600px;
        .tit_area {
            margin-bottom: 20px;
            display: flex;
            align-items: center;
            gap: 10px;
            .tag {
                font-size: 15px;
                color: #fff;
                background-color: $c_account;
                border-radius: 4px;
                height: 26px;
                display: flex;
                align-items: center;
                padding: 0 6px;
                font-weight: bold;
            }
        }
        .item {
            background-color: #fff;
            height: 113px;
            display: flex;
            flex-direction: column;
            justify-content: center;
            padding: 10px 20px;
            padding-left: 110px;
            background-repeat: no-repeat;
            background-position: 0 0;
            background-size: auto 100%;
            border-radius: 16px;
            &._basic1 {
                background-image: url(../images/sub/ss_account_bg_img1.png);
            }
            &._basic2 {
                background-image: url(../images/sub/ss_account_bg_img2.png);
            }
            &._premium1 {
                background-image: url(../images/sub/ss_account_bg_img3.png);
            }
            &._premium2 {
                background-image: url(../images/sub/ss_account_bg_img4.png);
            }
            & + .item {
                margin-top: 18px;
            }
        }
        .tit {
            font-size: 22px;
            font-weight: bold;
        }
        .desc_s {
            color: #666;
            margin-top: 6px;
        }
    }

    @include tablet {
        display: block;
        .part {
            max-width: none;
            & + .part {
                margin-top: 60px;
            }
        } 
    }
    @include mobile {
        .part {
            & + .part {
                margin-top: 40px;
            }
            .item {
                height: 90px;
                padding-left: 80px;
                padding-right: 15px;
                background-position: -10px 0;
            }
            .tit {
                font-size: 16px;
                font-weight: bold;
            }
            .desc_s {
                font-size: 13px;
                margin-top: 6px;
            }
        } 
    }
}

.ss_account_cont3 {
    display: flex;
    text-align: center;
    gap: 40px;
    .cont_box {
        flex: 1;
    }
    .ico_box {
        display: inline-block;
        vertical-align: top;
        padding-top: 20px;
        padding-right: 20px;
        position: relative;
        margin-bottom: 35px;
        &::before {
            content: '';
            position: absolute;
            width: 70px;
            height: 70px;
            background-color: #fff1f1;
            right: 0;
            top: 0;
            border-radius: 50%;
        }
        img {
            width: 57px;
            position: relative;
            z-index: 2;
        }
    }
    .tit2 {
        font-weight: bold;
    }
    .desc_s {
        margin-top: 25px;
    }
    .list_dot {
        margin-top: 20px;
        color: #666;
        font-size: 14px;
        line-height: 24px;
    }

    @include tablet4 {
        flex-wrap: wrap;
        .cont_box { 
            flex: 0 0 calc((100% - 40px) / 2);
        }
    }
    @include mobile {
        gap: 20px;
        .cont_box { 
            flex: 0 0 100%;
            border-bottom: 1px solid $c_line;
            padding-bottom: 20px;
            &:last-child {
                padding-bottom: 0;
                border-bottom: none;
            }
        }
        .ico_box {
            margin-bottom: 20px;
            &::before {
                width: 60px;
                height: 60px;
            }
            img {
                width: 50px;
            }
        }
        .desc_s {
            margin-top: 15px;
        }
        .list_dot {
            margin-top: 15px;
        }
    }
}

.ss_account_sec4 {
    background-color: $c_bg;
}
.ss_account_cont4 {
    display: flex;
    gap: 40px;
    .cont_box {
        flex: 1;
        background-color: #fff;
        border-radius: 20px;
        padding: 40px 30px;
        text-align: center;
    }
    .ico_box {
        margin-bottom: 30px;
        img {
            height: 99px;
        }
    }
    .desc_s {
        margin-top: 15px;
    }
    @include tablet {
        gap: 20px;
    }
    @include mobile {
        flex-wrap: wrap;
        .cont_box { 
            flex: 100%;
            padding: 30px 20px;
        }
        .ico_box {
            margin-bottom: 20px;
            img {
                height: 70px;
            }
        }
        .desc_s { 
            margin-top: 10px;
        }
    }
}
.ss_account_sec5 {
    .inner {
        max-width: 1100px;
    }
    .ss_account_review {
        display: flex;
        gap: 30px;
        padding-top: 30px;
        margin-top: 40px;
        border-top: 1px solid $c_line;
        .tit {
            flex-shrink: 0;
        }
        .cont {
            flex: 1;
        }

        @include mobile {
            flex-wrap: wrap;
            gap: 12px;
            margin-top: 30px;
            padding-top: 20px;
            .tit {
                flex: 100%;
            }
            .cont {
                flex: 100%;
            }
        }
    }
}
.ss_account_compare {
    
    margin: 0 auto;
    --gap: clamp(12px, 1.2vw, 20px);
    --radius: 14px;
  
    display: grid;
    gap: var(--gap);
  
    .compare_head,
    .compare_row {
      display: grid;
      grid-template-columns: clamp(180px, 20%, 250px) 1fr 1fr;
      gap: var(--gap);
      align-items: stretch;
    }
  
    /* ===== Head ===== */
    .compare_head {
      .compare_th {
        
        text-align: center;
        font-weight: 700;
        font-size: 20px;
        color: #111;
  
        &.is_accent {
            color: $c_account;
        }
      }
    }
  
    /* ===== Row ===== */
    .compare_row {
      .compare_label {
        background: #f4f4f4;
        border-radius: var(--radius);
        height: 100px;
        font-weight: 700;
        text-align: center;
  
        display: flex;
        align-items: center;
        justify-content: center;
        font-size: 18px;
      }
  
      .compare_cell {
        border-radius: var(--radius);
        display: flex;
        align-items: center;
        border: 1px solid #eaeaea;
        background: #fff;
        padding: 15px clamp(15px, 2vw, 30px);
        .txt_box {
            padding-left: 30px;
            position: relative;
        }
        &.is_bad {
          border-color: $c_line;
          .txt_box {
            &::before {
                content: '';
                width: 25px;
                height: 25px;
                background-image: url(../images/sub/compare_ico_x.png);
                background-repeat: no-repeat;
                background-position: center center;
                background-size: 14px 14px;
                position: absolute; 
                left: 0;
                top: 0;
            }
            .compare_title {
                text-decoration: line-through;
                text-decoration-color: #666;
            }
          }
        }
  
        &.is_good {
          background: #fdecec;
          border-color: #fdecec;
          .txt_box {
            &::before {
                content: '';
                width: 25px;
                height: 25px;
                background-image: url(../images/sub/compare_ico_chk.png);
                background-repeat: no-repeat;
                background-position: center center;
                background-size: 17px 13px;
                position: absolute; 
                left: 0;
                top: 0;
            }
            .compare_title {
                color: $c_account;
            }
          }
        }
  
        .compare_title {
          margin: 0;
          font-size: 18px;
          font-weight: 800;
          line-height: 1.4em;
          color: #111;
          display: flex;
          align-items: center;
          gap: 4px;
        }
  
        .compare_desc {
          margin-top: 4px;
          font-size: 16px;
          color: #666;
        }
  
        .badge {
          display: inline-block;
          height: 18px;
          font-size: 12px;
          color: #fff;
          border-radius: 4px;
          line-height: 18px;
          font-weight: 500;
          padding: 0 4px;
          background-color: $c_account;
        }
      }
    }
  
    /* ===== Mobile ===== */
   @include mobile {
        gap: 30px;
        .compare_head {
            display: none;
        }
    
        .compare_row {
            grid-template-columns: 1fr;
            .compare_label {
            justify-content: flex-start;
            text-align: left;
            height: auto;
            background-color: transparent;
            }
        }
    }
  }
  

.ss_account_sec6 {
    background-color: #FFECEC;
    .inner {
        max-width: 1150px;
    }
}
.ss_account_cont6 {
    display: flex;
    gap: 50px;
    @include tablet {
        gap: 30px;
    }
    @include mobile {
        flex-wrap: wrap;
    }
}
.ss_account_price {
    flex: 1;
    background-color: #fff;
    border-radius: 30px;
    padding: 40px 35px 30px;
    display: flex;
    flex-direction: column;
    border: 5px solid #fff;


    &._premium {
        border-color: $c_account;
    }
    .top_area {
        padding-bottom: 20px;
        margin-bottom: 20px;
        border-bottom: 1px solid $c_account;
        .desc_s {
            font-weight: 500;
        }
    }
    .txt_ty {
        font-size: 60px;
        line-height: 1;
        color: $c_account;
        font-weight: bold;
        margin: 20px 0 6px;
    }
    .list_chk {
        font-size: 18px;
        line-height: 1.4;
        li {
            padding-left: 1.9em;
            position: relative;
            font-weight: bold;
            & + li {
                margin-top: 0.5em;
            }
            &::before {
                content: '';
                width: 1.4em;
                height: 1.4em;
                background-image: url(../images/sub/price_ico_chk.png);
                background-size: 23px 17px;
                background-position: center center;
                background-repeat: no-repeat;
                position: absolute;
                left: 0;
                top: 0;
            }
            .desc_xs {
                font-weight: normal;
                margin-top: 0.4em;
            }
        }
    }
    .cont_area {
        margin-bottom: 60px;
        flex: 1;
    }
    .price_box {
        text-align: center;
        height: 60px;
        border-radius: 10px;
        background-color: $c_account;
        color: #fff;
        font-weight: bold;
        font-size: 18px;
        display: flex;
        align-items: center;
        justify-content: center;
    }
    .bot_area {
        .desc_s {
            margin-top: 10px;
        }
    }
    @include tablet {
        padding: 30px 25px 30px;
    }
    @include mobile {
        flex: 100%;
        padding: 26px 20px 20px;
        .cont_area {
            margin-bottom: 40px;
        }
        .txt_ty {
            font-size: 50px;
            margin: 10px 0 4px;
        }
        .list_chk {
            font-size: 16px;
            li {
                &::before {
                    background-size: 18px;
                }
            }
        }
        .price_box {
            height: 50px;
        }
    }
}

.ss_account_banner {
    height: 300px;
    background-image: url(../images/sub/ss_account_bg3.png);
    background-repeat: no-repeat;
    background-position: center center;
    background-size: cover;
    display: flex;
    align-items: center;
    color: #fff;
    
    .banner_cont {
        display: flex;
        justify-content: space-between;
        gap: 50px;
        align-items: center;
    }
    .tit {
        font-size: 40px;
        line-height: 1.3;
        margin-bottom: 6px;
        font-weight: bold;
    }
    .btn {
        width: 260px;
        flex-shrink: 0;
    }

   
    @include mobile {
        height: auto;
        padding: 50px 0;
        .banner_cont {
            flex-wrap: wrap;
            gap: 30px;
            .txt_box {
                width: 100%;
            }
        }
        .tit { 
            font-size: 30px;
        }
        .btn {
            margin-left: auto;
            width: 220px;
        }
    }
}