.hub {
    &_wrap {
        min-height: 100dvh;
        display: flex;
        justify-content: center;
        align-items: center;
        text-align: center;
        padding: 50px 30px;
        overflow-y: auto;
        background-repeat: no-repeat;
        background-position: center center;
        background-size: cover;
        background-image: url(../images/sub/hub_bg.png);
    }
    &_cont {
        width: 100%;
        max-width: 1200px;
    }
    &_txt {
        color: #000;
        .tit {
            font-size: clamp(30px, 5vw, 50px);
            font-weight: bold;
            line-height: 1.3;
        }
        .desc {
            font-size: clamp(16px, 2.5vw, 22px);
            font-weight: 500;
            margin-top: 1em;
        }
    }
    &_btns {
        display: flex;
        margin-top: clamp(36px, 5vw, 56px);
    }
    &_btn {
        width: 50%;
        position: relative;
        aspect-ratio: 3/2;
        display: flex;
        align-items: center;
        justify-content: center;
        padding: 0 30px;
        overflow: hidden;
        
        &::after {
            content: '';
            position: absolute;
            left: 0;
            top: 0;
            width: 100%;
            height: 100%;
            background-repeat: no-repeat;
            background-position: center center;
            background-size: cover;
            z-index: 0;
            transition: all .3s ease-in-out;
        }
        @include hover_true {
            &:hover {
                &::after {
                    transform: scale(1.17);
                    filter: brightness(0.85);
                }
            }
        }
        
        &._bldg {
            &::after {
                background-image: url(../images/sub/hub_bldg.png);
            }
            
        }
        &._stay {
            &::after {
                background-image: url(../images/sub/hub_stay.png);
            }
            
            .logo_box {
                padding: 0 0.6%;
            }
        }
        .logo_box {
            position: relative;
            z-index: 2;
        }
        img {
            max-height: 62px;
        }
    }


    @include mobile {
        &_wrap {
            padding: 50px 20px;
        }
        &_btns {
            display: block;
            max-width: 400px;
            margin-left: auto;
            margin-right: auto;
        }
        &_btn {
            width: 100%;
        }
    }
}
    