.tit1 {
    font-size: 45px;
    font-weight: bold;
    line-height: 1.2;
    @include tablet {
        font-size: 38px;
    }
    @include mobile {
        font-size: 30px;
    }
}

.desc {
    font-size: 18px;
}
.desc2 {
    font-size: 22px;
    font-weight: bold;
}