.tit1 {
    font-size: 45px;
    font-weight: bold;
    line-height: 1.2;
    @include tablet {
        font-size: 38px;
    }
    @include mobile {
        font-size: 28px;
    }
}
.tit2 {
    font-size: 30px;
    font-weight: bold;
    line-height: 1.2;
    @include tablet {
        font-size: 26px;
    }
    @include mobile {
        font-size: 20px;
    }
}

.desc {
    font-size: 18px;
    @include mobile {
        font-size: 14px;
    }
}
.desc2 {
    font-size: 22px;
    font-weight: bold;
    @include mobile {
        font-size: 18px;
    }
}

.sub_sec_tit {
    margin-bottom: 80px;
    text-align: center;
    .desc {
        margin-top: 10px;
    }
    @include mobile {
        margin-bottom: 40px;
    }
}