@use "sass:color";


/* 공통 */
@import "./variable";
@import "./mixin";
@import "./visibility";
@import "./reset";

/* layout */
@import "./layout";
@import "./header";
@import "./footer";

/* templates */
@import "./paging";
@import "./btns";
@import "./tit";
@import "./popup";
@import "./tabs";
@import "./form";



/* pages */
@import "./main";
@import "./partners";
@import "./contact";
@import "./about";
@import "./service";
@import "./reference";
@import "./news";
@import "./terms";


/* anibox */
@import "./aniBox"