@use "sass:color";


/* 공통 */
@import "./variable";
@import "./mixin";
@import "./visibility";
@import "./reset";

/* layout */
@import "./layout";
@import "./header";
@import "./footer";

/* templates */
@import "./paging";
@import "./btns";
@import "./tit";



/* pages */
@import "./main";

/* anibox */
@import "./aniBox"